<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/fa27c587-1c99-4272-acbd-8284bb4bcaae/resourceGroups/Taraguy-RG/providers/Microsoft.Web/sites/taraguyrugbyclub</ResourceId>
    <IsLinux>True</IsLinux>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://taraguyrugbyclub-hhgkcrevcgerf7bg.centralus-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>32366203-2f43-46d3-9fe4-f8b2591ac1fd</ProjectGuid>
    <PublishUrl>https://taraguyrugbyclub-hhgkcrevcgerf7bg.scm.centralus-01.azurewebsites.net/</PublishUrl>
    <UserName>$taraguyrugbyclub</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>